.card_container {
  display: grid;
  grid-template-columns: 35% 50%;
  gap: 15%;
}

.card_display {
  width: 287px;
  height: 492px;
  aspect-ratio: 1/1;
  border-radius: 2rem;
  background: linear-gradient(
    45deg,
    transparent,
    var(--color-primary),
    transparent
  );
  display: grid;
  place-items: center;
}

.card_image {
  border-radius: 2rem;
  overflow: hidden;
  transform: rotate(10deg);
  transition: var(--transition);
}

.card_image:hover {
  transform: rotate(0);
}

.descriptions {
  margin-top: 50px;
  margin-bottom: -20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

.description {
  margin-top: -30px;
  background: var(--color-bg-variant);
  border: 1px solid transparent;
  border-radius: 1rem;
  height: 300px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

.description:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
}

.upside_down {
  transform: rotate(180deg);
  transition: var(--transition);
}

.upside_down:hover {
  transform: rotate(0);
}

.description_icon {
  color: var(--color-primary-variant);
  font-size: 1.4rem;
  margin-bottom: 5px;
}

.description h5 {
  font-size: 1.3rem;
}

.card_content h2 {
  font-size: 2.5rem;
}

.description small {
  font-size: 1rem;
  color: var(--color-light);
}

.card_content p {
  margin: 2rem 0 2.6rem;
  color: var(--color-light);
  text-align: justify;
}

.menu_deroulant {
  margin-right: 185px;
  margin-left: 185px;
  padding-top: 20px;
}

.meme_ligne_svp {
  display: flex;
  height: 50px;
  width: 50px;
}

.btn-primary {
  margin-left: 405px;
}

/* ==== MEDIA QUERIES (MEDIUM DEVICES) ==== */
@media screen and (max-width: 1024px) {
  .card_container {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .card_display {
    width: 50%;
    margin: 2rem auto 4rem;
  }

  .card_content p {
    margin: 1rem 0 1.5rem;
  }
}

/* ==== MEDIA QUERIES (SMALL DEVICES) ==== */
@media screen and (max-width: 600px) {
  .card_display {
    width: 65%;
    margin: 0 auto 3rem;
  }

  .descriptions {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .card_content {
    text-align: center;
  }

  .card_content p {
    margin: 1.5rem 0;
  }
}
